/* normalize.css */
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

/* =================================
  WEB FONTS
==================================== */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);

/* ================================= 
  ELEMENT STYLES
==================================== */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* footer */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* ================================= 
  LAYOUT & PAGE STYLES
==================================== */

.main-content {
  padding: 0;
}

.break {
  margin: 5em 0;
}

.teacher-list {
  margin-bottom: 2em;
}

/* IMAGES -------- */

.course-img {
  width: 70px;
}
.not-found {
  text-align: center;
}

/* MAIN NAV -------- */

.sticky {
  position: fixed;
}

.main-nav {
  border-radius: 0 !important;
}

.nav-icon {
  font-size: 3em;
  line-height: 0;
  padding-top: 24px;
}

/* ICONS -------- */

.icn-logo {
  background: #54606b;
  color: #fff;
}
.icn-logo i {
  font-size: 2.45em;
  line-height: 0;

}
.icn-error {
  font-size: 3.2em;
  margin-bottom: .25em;
}

.main-content {
  horiz-align: center;
}

/* footer -------- */

.container {
  min-height: 100%;
}

.main {
  overflow: auto;
}

.footer {
  background-color: #f5f5f5;
  display: none;
}

.footer-message {
  color: #545454;
  line-height: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: calc(50% - 135px);
}

/* ================================= 
  MEDIA QUERIES
==================================== */

@media (min-width: 0) and (max-width: 767px) {
  .main-content {
    margin: 6em 1em 2em 1em;
  }
  .teacher-list {
    width: 320px;
    margin-left: calc((100% - 320px) / 2);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-content {
    margin: 10em 2em 2em 2em;
  }
  .teacher-list {
    width: 640px;
    margin-left: calc((100% - 640px) / 2);
  }
}
@media (min-width: 992px) {
  .main-content {
    width: 960px;
    margin: 2em auto;
    margin-top: 6em;
  }
}